.search-input{
    height: 30px; 
    width: 100%; 
}

.search-input:focus{
    border: none;
    outline: 1px solid #065471;
}

.nav-link{
    color: #065471;
}

.nav-link:hover{
    background-color: rgb(6, 84, 113, 0.7);
    color: #fff
}

.nav-pills .nav-link.active{
    background-color: #065471;
}

.text-title-1{
    font-size:14px;
    font-weight:600;
    text-align: center;
}

.page-number{
    border-radius: 10px;
    width:30px;
    height: 30px;
    background-color: rgb(173, 173, 173, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#065471;
    cursor: pointer;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(9px);
}

.page-number:hover{
    border-radius: 10px;
    width:30px;
    height: 30px;
    background-color: #065471;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    cursor: pointer;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(9px);
}

.current-page-number{
    border-radius: 10px;
    width:30px;
    height: 30px;
    background-color: #065471;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    cursor: pointer;
}

.count-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    gap:8px;
    position: absolute;
    bottom: 15px;
}

.problem-item{
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap:8px;
    justify-content: start;
    padding:16px;
    background-color: rgb(173, 173, 173, 0.1);

    width: calc( 25% - 12px );
    cursor: pointer;
}

.btn-add{
    cursor:pointer; 
    border-radius:10px; 
    height: 30px; 
    padding: 16px; 
    background-color: #065471; 
    gap:8px; 
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.filter{
    display: flex;
    height: 30px;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    outline: 1px solid var(--neutral-07-day, #EBEBEB);
    background: var(--neutral-09-day, #FFF);
    position: relative;
    font-family: Poppins;
    cursor: pointer;
    text-align: center;
    justify-content: space-between;

    min-width: 200px;
}
  
.modal-sort {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: calc( 100% + 4px);
    gap: 8px;
    text-align: start;
    padding: 12px 16px;
    width: 100%;
    left: 0;
    border-radius: 12px;
    background: var(--neutral-09-day, #FFF);
  
    /* 2 */
    box-shadow: 4px 8px 32px 0px rgba(0, 0, 0, 0.08);
    font-family: Poppins;
    user-select: none;
    z-index: 2;
}
  
.sort-item:hover {
    color: #065471
}