.search-input{
    height: 30px; 
    width: 100%; 
}

.search-input:focus{
    border: none;
    outline: 1px solid #065471;
}

.nav-link{
    color: #065471;
}

.nav-link:hover{
    background-color: rgb(6, 84, 113, 0.7);
    color: #fff
}

.nav-pills .nav-link.active{
    background-color: #065471;
}

.text-title-1{
    font-size:14px;
    font-weight:600;
    text-align: center;
}

.page-number{
    border-radius: 10px;
    width:30px;
    height: 30px;
    background-color: rgb(173, 173, 173, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#065471;
    cursor: pointer;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(9px);
}

.page-number:hover{
    border-radius: 10px;
    width:30px;
    height: 30px;
    background-color: #065471;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    cursor: pointer;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(9px);
}

.current-page-number{
    border-radius: 10px;
    width:30px;
    height: 30px;
    background-color: #065471;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    cursor: pointer;
}

.count-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    gap:8px;
    position: absolute;
    bottom: 15px;
}

.problem-item{
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap:8px;
    justify-content: start;
    padding:16px;
    background-color: rgb(173, 173, 173, 0.1);

    width: calc( 25% - 12px )
}