.block-overview{
    background-color: #fff;
    padding:28px;
    gap:12px;
    border-radius: 16px;
}
.splide {
    padding-left: 3.2em;
    padding-right: 3.2em;
}

.book-mostSale{
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap:4px;
}

.areaContent-bg{
    background-color: #fff;
    padding: 8px;
    border-radius: 16px;
}

.areaContent-title{
    font-size:16px; 
    font-weight:600; 
    color:#065471;
    
}