.nav-link{
    color: #065471;
}

.nav-link:hover{
    background-color: rgb(6, 84, 113, 0.7);
    color: #fff
} 
.nav-pills .nav-link.active{
    background-color: #065471;
}

.suggest{
    margin-top: 1vh;
    gap:8px;
    position:absolute; 
    z-index:2; 
    border-radius: 12px; 
    background: var(--neutral-white, #FFF); 
    box-shadow: 4px 8px 32px 0px rgba(0, 0, 0, 0.08);
    top:100%;
    left:136px;
    max-height: 180px;
    overflow: auto;
    width: calc( 100% - 136px );
}

.suggest-item:hover{
    border-radius: 5px;
    background-color: #065471;
    color: white !important; 
}
.even-li {
    background-color: rgb(240, 240, 240); 
  }
  
  .odd-li {
    background-color: rgb(255, 255, 255); 
  }