.search-input{
    height: 40px; 
    width: 100%; 
}
  
.book-item{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    background-color: #fff;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    height: 243px;
    cursor: pointer;
    position: relative;
    overflow:hidden;
}
  
.book-item-text{
    display: flex;
    flex-direction: row;
    gap: 4px;
    text-align: start;
    width:100%;
}

.book-item-text-sale{
    color:red
}

.book-item-text-line{
    text-decoration: line-through;
}

.delete-item{
    display: none;
    cursor: pointer;
}

.book-in-cart:hover .delete-item{
    display: block;
}
  
.book-item-text{
    display: flex;
    flex-direction: row;
    gap: 4px;
    text-align: start;
    width:100%;
}
  
.text-bolder{
    font-weight: 600;
    font-size:14px;
}

.search-input{
    height: 40px; 
    width: 100%; 
}

.suggest{
    gap:8px;
    position:absolute; 
    z-index:2; 
    border-radius: 12px; 
    background: var(--neutral-white, #FFF); 
    box-shadow: 4px 8px 32px 0px rgba(0, 0, 0, 0.08);
    top:100%;
    left:136px;
    max-height: 180px;
    overflow: auto;
    width: 400px;
}